<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/cartlogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/cartlogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cart">
        <activity
            android:name=".UserCart"
            android:exported="false" />
        <activity
            android:name=".CategoryWiseProduct"
            android:exported="false" />
        <activity
            android:name=".UserHelp"
            android:exported="false" />
        <activity
            android:name=".UserOrders"
            android:exported="false" />
        <activity
            android:name=".UserNotification"
            android:exported="false" />
        <activity
            android:name=".UserSetting"
            android:exported="false" />
        <activity
            android:name=".Profile"
            android:exported="false" />
        <activity
            android:name=".UserList"
            android:exported="false" />
        <activity
            android:name=".UserAllOrders"
            android:exported="false" />
        <activity
            android:name=".UserAddProduct"
            android:exported="false" />
        <activity
            android:name=".UserAddCategory"
            android:exported="false" />
        <activity
            android:name=".UserDashboard"
            android:exported="false" />
        <activity
            android:name=".AdminAllOrders"
            android:exported="false" />
        <activity
            android:name=".AdminUserList"
            android:exported="false" />
        <activity
            android:name=".AdminAddProductList"
            android:exported="false" />
        <activity
            android:name=".AdminAddProduct"
            android:exported="false" />
        <activity
            android:name=".AdminAddCtegory"
            android:exported="false" />
        <activity
            android:name=".AdminDashboard"
            android:exported="false" />
        <activity
            android:name=".UserRegistration"
            android:exported="true" />
        <activity
            android:name=".AdminLogin"
            android:exported="false" />
        <activity
            android:name=".UserProductDetails"
            android:exported="false" />
        <activity
            android:name=".UserLogin"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>